---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Waleed</h1>
		<p>Portfolio coming soon.</p>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		font-family: sans-serif;
		color: #111;
	}

	h1 {
		font-size: 3rem;
		margin: 0 0 0.5rem;
	}

	p {
		font-size: 1.2rem;
		color: #666;
		margin: 0;
	}
</style>
